<a href="https://colab.research.google.com/github/anshul7409/codsoft/blob/main/creditcard_Fraud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATA COLLECTION**

In [99]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [100]:
credit_card_data = pd.read_csv("/content/creditcard.csv")

In [101]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [102]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71396 entries, 0 to 71395
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    71396 non-null  int64
 1   V1      71396 non-null  float64
 2   V2      71396 non-null  float64
 3   V3      71396 non-null  float64
 4   V4      71396 non-null  float64
 5   V5      71396 non-null  float64
 6   V6      71396 non-null  float64
 7   V7      71396 non-null  float64
 8   V8      71396 non-null  float64
 9   V9      71396 non-null  float64
 10  V10     71396 non-null  float64
 11  V11     71396 non-null  float64
 12  V12     71396 non-null  float64
 13  V13     71396 non-null  float64
 14  V14     71396 non-null  float64
 15  V15     71396 non-null  float64
 16  V16     71396 non-null  float64
 17  V17     71396 non-null  float64
 18  V18     71396 non-null  float64
 19  V19     71396 non-null  float64
 20  V20     71396 non-null  float64
 21  V21     71396 non-null  float64
 22  V22     71396 non-null  float64
 23  V23     71396 non-null  float64
 24  V24     71396 non-null  float64
 25  V25     71396 non-null  float64
 26  V26     71395 non-null  float64
 27  V27     71395 non-null  float64
 28  V28     71395 non-null  float64
 29  Amount  71395 non-null  float64
 30  Class   71395 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 16.9 MB

In [103]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [104]:
credit_card_data =   credit_card_data.dropna()

In [105]:
credit_card_data.shape

(71395, 31)

In [106]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [107]:
credit_card_data['Class'].value_counts()

0.0    71218
1.0      177
Name: Class, dtype: int64

handling the unbalanced dataset

In [108]:
legit = credit_card_data[credit_card_data.Class == 0.0]
fraud = credit_card_data[credit_card_data.Class == 1.0]

In [109]:
legit.shape

(71218, 31)

In [110]:
fraud.shape

(177, 31)

In [111]:
legit.Amount.describe()

count    71218.000000
mean        97.028781
std        270.410639
min          0.000000
25%          7.680000
50%         26.550000
75%         88.500000
max      19656.530000
Name: Amount, dtype: float64

In [112]:
fraud.Amount.describe()

count     177.000000
mean       95.719153
std       219.167165
min         0.000000
25%         1.000000
50%         7.610000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [113]:
credit_card_data.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,35066.440352,-0.234234,-0.036579,0.704647,0.155872,-0.259090,0.105218,-0.097289,0.048430,0.023374,...,0.044548,-0.031241,-0.106249,-0.038231,0.006499,0.135292,0.022316,0.001788,0.002561,97.028781
1.0,30570.542373,-6.805243,4.918403,-9.162545,5.314564,-5.079731,-2.088712,-7.147266,3.352192,-3.180791,...,0.426844,0.822681,-0.189293,-0.245318,-0.073800,0.248813,0.105956,0.564291,0.045180,95.719153

Under Sample

In [114]:
legit_sample = legit.sample(n = 93)

In [115]:
legit_sample.shape

(93, 31)

In [116]:
new_dataset = pd.concat([legit_sample,fraud],axis = 0)

In [117]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
55632,47041,1.118969,0.622879,0.590323,2.981794,-0.297154,-0.520552,0.013029,-0.036903,-0.254190,...,-0.118593,-0.149876,-0.059257,0.627187,0.578880,0.058019,0.021641,0.048753,7.58,0.0
60486,49346,1.125183,0.326633,0.436504,1.093859,-0.111189,-0.335816,0.122992,0.081878,-0.381312,...,-0.382662,-1.205366,0.274736,0.132520,0.094904,-0.837760,0.018346,0.017439,8.97,0.0
16307,27699,1.214087,-0.457961,-0.433451,-0.364815,1.437339,3.873505,-1.177357,1.036600,0.681781,...,0.054929,0.129037,-0.109631,1.060806,0.504614,0.480375,0.012202,0.021742,26.25,0.0
70921,54076,-0.950115,1.041505,1.899501,-0.093529,-0.530089,-0.640899,0.332520,0.065587,0.236744,...,-0.074373,-0.114522,-0.026754,0.361188,-0.297104,0.179414,0.318527,0.240878,17.79,0.0
8745,11894,-1.638187,0.763415,1.228274,-0.690973,-0.295756,-0.703639,-0.007731,0.419226,1.831853,...,-0.170251,0.093940,0.111584,0.416588,-0.207477,0.875788,0.187033,0.124737,12.05,0.0

In [118]:
new_dataset['Class'].value_counts()

1.0    177
0.0     93
Name: Class, dtype: int64

In [119]:
new_dataset.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,34789.645161,-0.213622,0.128107,0.723766,0.295330,-0.317858,0.162437,-0.164802,-0.056126,-0.062152,...,-0.043622,0.010979,-0.143626,-0.025201,0.048143,0.093623,0.008614,-0.014704,-0.032916,75.055376
1.0,30570.542373,-6.805243,4.918403,-9.162545,5.314564,-5.079731,-2.088712,-7.147266,3.352192,-3.180791,...,0.426844,0.822681,-0.189293,-0.245318,-0.073800,0.248813,0.105956,0.564291,0.045180,95.719153

In [120]:
X = new_dataset.drop(columns='Class', axis = 1)
Y = new_dataset['Class']

In [121]:
print(Y)

55632    0.0
60486    0.0
16307    0.0
70921    0.0
8745     0.0
        ...
68633    1.0
69498    1.0
69980    1.0
70141    1.0
70589    1.0
Name: Class, Length: 270, dtype: float64

Splitting the data

In [122]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2,stratify = Y,random_state = 2)

In [123]:
print(X.shape,X_train.shape,X_test.shape)

(270, 30) (216, 30) (54, 30)

Model Training

In [124]:
model = LogisticRegression()

In [125]:
model.fit(X_train,Y_train)

LogisticRegression()

Model Evaluation

In [126]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [127]:
print("Accuracy on training data is :",str(training_data_accuracy*100) + " %")

Accuracy on training data is : 96.29629629629629 %

In [128]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [130]:
print("Accuracy on test data is :",str(test_data_accuracy*100) + " %")

Accuracy on test data is : 96.29629629629629 %